<%- include("partials/header") -%>
<div class="body-accueil">
  <div class="logo-accueil">
    <img id="dashboard-icon" src="/images/ICON .png" alt="icône Airlod" />
    <img id="logo-dashboard" src="/images/FULL LOGO.png" alt="logo Airlod" />
  </div>
  <div class="button-container">
    <button id="afficherRapports">Afficher les Rapports</button>
  </div>
  <div class="accueil">
    <div  id="main" class="accueil-kpi kpi-1">
    </div>
    <div class="accueil-kpi kpi-2">
      <canvas id="sourceChart"></canvas>
    </div>
    <div class="accueil-kpi kpi-3">
      <img src="" alt="" />
      <!-- <canvas id="etapeChart"></canvas> -->
    </div>
  </div>
</div>

<p><%= totalRows %></p>
<p><%= whatsappRows %></p>
<p><%= instagramRows %></p>
<p><%= messengerRows %></p>
<p><%= landingRows %></p>
<p><%= siteRows %></p>
<p><%= baORows %></p>
<p><%= nullRows %></p>
<%- include("partials/footer") -%>
