<%- include("partials/header") -%>
<div class="body-accueil">
  <div class="logo-accueil">
    <img id="dashboard-icon" src="/images/ICON .png" alt="icône Airlod" />
    <img id="logo-dashboard" src="/images/FULL LOGO.png" alt="logo Airlod" />
  </div>
  <div class="accueil">
    <div class="accueil-kpi kpi-1">
      <div class="accueil-kpi-header">
        <h4 class="kpi-title">Sources</h4>
      </div>
      <div class="kpi-data">
        <div class="kpi-9-data-1">
          <p> <%= totalRows %> </p>
          <p> <%= whatsappRows %> </p>
          <p> <%= instagramRows %> </p>
          <p> <%= messengerRows %> </p>
          <p> <%= landingRows %> </p>
          <p> <%= siteRows %> </p>
          <p> <%= baORows %> </p>
          <p> <%= nullRows %> </p>          
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
