<%- include("partials/header") -%>
<div class="list-header">
  <h1 class="list-title">
    Demande
  </h1>
  <div id="list-search-button">
    <button type="" class="reloadButton">
      <i class="bx bx-refresh"></i>
    </button>
  </div>
  <!-- <button id="testButton">Supprimer</button> -->
</div>
<div class="table-components">

  <div class="table-features">
    <div class="table-dowload-button">
      <h5 class="span-3">
        Exporter format 
      </h5>
      <!-- <br> -->
      <button id="download-csv"><img class="download-symbols" src="/images/csv.png" alt=""></button>
      <button id="download-xlsx"><img class="download-symbols" src="/images/xls.png" alt=""></button>
      <button id="download-pdf"><img class="download-symbols" src="/images/pdf.png" alt=""></button>
      
    </div>
    <button id="ajouter-demande-form-button"><i class="bx bx-plus"></i> Ajouter Demande </button>
  </div>

  <div class="table-container">
    <div id="tableDemandes"></div>
  </div>
</div>


  <%- include("partials/ajouter_demande_overlay") -%>
  <%- include("partials/modifier_demande") -%>
  <%- include("partials/ajouter_facture_overlay") -%>
  <%- include("partials/footer") -%>
