<%- include("partials/header") -%>
<div class="mes-demandes-header">
  <h1 class="mes-demandes-title">
    Demande<a href="/ajouter_demande"><i class="bx bx-plus"></i></a>
  </h1>
  <div class="mes-demandes-filters">
    <div class="filtre-1 mes-demandes-search-bar">
      <input id="search-bar-text" type="text" class="search-bar-text" />
    </div>
    <div class="filtre-2 mes-demandes-search-category">
      <select name="search-bar-option" id="search-bar-option">
        <option value="search-nomClient">Nom du Client</option>
        <option value="search-tel">Numéro de Téléphone</option>
        <option value="search-email">E-mail</option>
        <option value="search-produit">Produit</option>
      </select>
    </div>
    <div class="filtre-3 mes-demandes-search-button">
      <button id="search-button" type="" class="">
        <i class="bx bx-search"></i>
      </button>
    </div>
    <div class="span-2 filtre-4">
      <label for="type-de-client">Type de client</label>
      <select name="type-de-client" id="type-de-client">
        <option disabled selected value="">
          -- Sélectionner une option --
        </option>
        <option value="Pressé">Client pressé</option>
        <option value="Instruit">Instruit</option>
        <option value="Indecis">Indécis</option>
        <option value="Agressif">Agressif</option>
        <option value="Négociateur">Négociateur</option>
      </select>
    </div>
    <div class="span-2 filtre-5">
      <label for="etape-actuelle">Etape Actuelle</label>
      <select name="etape-actuelle" id="etape-actuelle">
        <option disabled selected value="">
          -- Sélectionner une option --
        </option>
        <option value="Découvre ses besoins">Découvre ses besoins</option>
        <option value="Conception">Conception</option>
        <option value="Validation">Validation</option>
        <option value="Production">Production</option>
        <option value="Livraison">Livraison</option>
      </select>
    </div>
    <div class="span-2 filtre-6">
      <label for="">Source</label>
      <select name="filtreSource" id="filtreSource">
        <option disabled selected value="">
          -- Sélectionner une option --
        </option>
        <option value="Whatsapp">Whatsapp</option>
        <option value="Messenger">Messenger</option>
        <option value="Instagram">Instagram</option>
        <option value="Landing">Landing Page</option>
        <option value="Site">Site</option>
        <option value="Bouche à oreil">Bouche à Oreil</option>
      </select>
    </div>
    <div class="span-2 filtre-7">
      <label for="etat-client">Etat du client</label>
      <select name="etat-client" required>
        <option disabled selected value="">
          -- Sélectionner une option --
        </option>
        <option value="En Discussion">En Discussion</option>
        <option value="Intéressé">Intéressé</option>
        <option value="Attente Logo">Attente de Logo</option>
        <option value="Design en Cours">Design En Cours</option>
        <option value="Design Valide">Design Validé</option>
        <option value="Attente Confirmation">Attente de Confirmation</option>
        <option value="Attente Ramassage">Attente de Ramassage</option>
        <option value="Envoyé">Envoyé</option>
        <option value="Pas de Réponse">Pas de Réponse</option>
        <option value="Non Intéressé">Non Intéressé</option>
      </select>
    </div>
  </div>
</div>
<div class="table-demande-container">
  <table id="table-demande">
    <colgroup>
      <col class="demande" span="1" style="width: 9%" />
      <col class="nom-client" span="1" style="width: 10%" />
      <col class="telephone" span="1" style="width: 10%" />
      <col class="type-client" span="1" style="width: 10%" />
      <col class="etape-actuelle" span="1" style="width: 10%" />
      <col class="produit" span="1" style="width: 10%" />
      <col class="quantite" span="1" style="width: 7%" />
      <col class="email" span="1" style="width: 16%" />
      <col class="source" span="1" style="width: 10%" />
      <col class="num-facture" span="1" style="width: 8%" />
    </colgroup>
    <thead>
      <tr id="table-demande-header">
        <th data-column="numDemande" data-order="DESC">
          N° Demande <span class="arrow arrow-numDemande">&#9660;</span>
        </th>
        <th data-column="nomClient" data-order="DESC">
          Nom du Client <span class="arrow arrow-nomClient">&#9660;</span>
        </th>
        <th data-column="numTelephone" data-order="DESC">
          Telephone <span class="arrow arrow-numTelephone">&#9660;</span>
        </th>
        <th data-column="typeClient" data-order="DESC">
          Type de Client <span class="arrow arrow-typeClient">&#9660;</span>
        </th>
        <th data-column="etapeActuelle" data-order="DESC">
          Etape Actuelle <span class="arrow arrow-etapeActuelle">&#9660;</span>
        </th>
        <th data-column="produit" data-order="DESC">
          Produit <span class="arrow arrow-produit">&#9660;</span>
        </th>
        <th data-column="quantite" data-order="DESC">
          Quantité <span class="arrow arrow-quantite">&#9660;</span>
        </th>
        <th data-column="email" data-order="DESC">
          Email <span class="arrow arrow-email">&#9660;</span>
        </th>
        <th data-column="source" data-order="DESC">
          Source <span class="arrow arrow-source">&#9660;</span>
        </th>
        <th data-column="numFacture" data-order="DESC">
          N° Facture <span class="arrow arrow-numFacture">&#9660;</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- Add your data rows here -->
      <% data.forEach(function(row) { %>
      <tr class="table-row">
        <td><%= row.numDemande %></td>
        <td><%= row.nomClient %></td>
        <td><%= row.numTelephone %></td>
        <td><%= row.typeClient %></td>
        <td><%= row.etapeActuelle %></td>
        <td><%= row.produit %></td>
        <td><%= row.quantite %></td>
        <td><%= row.email %></td>
        <td><%= row.source %></td>
        <td><%= row.numFacture %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <div class="mes-demandes-footer">
    <div class="footer-page-control">
      <div class="first-page"><i class="bx bx-skip-previous"></i></div>
      <div class="previous"><i class="bx bxs-left-arrow"></i></div>
      <div class="next"><i class="bx bxs-right-arrow"></i></div>
      <div class="last-page"><i class="bx bx-skip-next"></i></div>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
